QPushButton {
    background-color: rgb(33, 37, 43);
    padding-top: 16px;
    padding-bottom: 16px;
}
QPushButton:hover {
	background-color: rgb(62, 70, 86);
}
QPushButton:pressed {	
	background-color: rgb(189, 147, 249);
}